.home-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-right: 3%;
   height: 100vh;
   margin-top: -3%;
}
.banner-intro{
  margin-left: -5%;
}
.discount{
    color: white;
    padding: 1% 2%;
    background: rgba( 255, 255, 255, 0.2 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 5px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 390px;
}
.typing-anm{
    color: white;
    font-size: 4rem;
}
.highlight{
    background: linear-gradient(90deg, #02402f, #032d6d); /* Neon blue gradient */

  color: transparent;
}
.banner-p{
    color: rgb(174, 168, 168);
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}
.gs-btn{
  background: linear-gradient(90deg, #15F5BA, #0066ff); /* Neon blue gradient */
    padding: 2% 4%;
    color: black;
    font-weight: 600;
    font-size: 17px;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.3), /* Softer, lighter glow */
              0 0 10px rgba(0, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
}
.span-highlight {
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

.helo{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1%;
    color: rgb(35, 35, 244);
    position: relative;
    top: 121%;
    font-size: 20px;
    width: 500px;
    text-align: center;
    font-weight: 500;
    font-family: none;
    margin-left: 20%;
}

.scan-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.loader-container {
    display: flex;
    gap: 1%;
    height: 100vh; /* Full screen height */
    margin-top: 10px;
  }

.stopProgressLoader{
    display: none;
}
  
  .pulse1, .pulse2, .pulse3 {
    width: 8px;
    height: 8px;
    background-color: rgb(35, 35, 244);
    border-radius: 50%; /* Make it circular */
    display: inline-block;
    margin: 0 5px; /* Space between pulses */
    animation: pulse-animation 1.5s infinite ease-in-out; /* Same duration for all */
  }
  
  .pulse2 {
    animation-delay: 0.3s; /* Delay to start after pulse1 */
  }
  
  .pulse3 {
    animation-delay: 0.6s; /* Delay to start after pulse2 */
  }
  
  @keyframes pulse-animation {
    0% {
      transform: scale(1); /* Initial size */
      opacity: 1; /* Full opacity */
    }
    50% {
      transform: scale(1.5); /* Grow to 1.5 times the size */
      opacity: 0.5; /* Fade opacity slightly */
    }
    100% {
      transform: scale(1); /* Return to original size */
      opacity: 1; /* Full opacity again */
    }
  }