html, body {
    overflow-x: hidden;
}
.services-section {
    text-align: center;
    height: 120vh;
    padding: 3% 2%;
}

.services-section h1 {
    color: black;
    font-size: 30px;
}

.services-p {
    color: #4f4a4a;
    width: 60%;
    margin: auto;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* padding: 20px 0; */
}

.slide-img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.vertical-line {
    height: 300px;
    width: 1px;
    background-color: rgb(179, 177, 177); 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.item-id {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 13px;
    /* padding: 10px 13px; */
    border-radius: 50%;
    color: white;
}

.service-text {
    text-align: center;
    width: 40%;
    margin-left: 2%;
}

.service-text h3 {
    /* background: linear-gradient(90deg, #15F5BA, #0066ff);
    -webkit-background-clip: text;
    color: transparent; */
    color: black;
    font-size: 25px;
    font-weight: 800;
}

.service-text p {
    color: #4f4a4a;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}

.cards-section-m{
    display: none;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: -9%;
    margin-bottom: 5%;
}

.nav-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 10px; /* Add space between the buttons */
}

.nav-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


/* mobile view */

.card-m {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 5%;
}

.card-m:hover {
    transform: translateY(-5px); /* Subtle hover effect */
}

.card-image-m {
    width: 100%;
    height: 200px; /* You can adjust this height */
    object-fit: fill; /* Ensures the full image is displayed within the card */
    background-color: #f4f4f4; /* Optional: add background color for empty space */
}

.card-heading-m {
    font-size: 19px;
    margin-left: 15px;
    color: #333;
}

.card-content-m {
    font-size: 1rem;
    margin: 0 15px 15px;
    color: #555;
}


@media (max-width: 400px) {
    .services-section {
        display: none;
    }
    .cards-section-m {
        display: block;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Makes cards responsive */
        gap: 20px;
    }
    .card-content-m {
        font-size: 0.9rem;
    }
    .services-p{
        width: 100%;
        line-height: 23px;
    }
    .head-m{
        font-size: 20px;
        margin-left: 5%;
        line-height: 30px;
    }
}

